body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  gap: 15px;
  grid-template-areas: 
  "hd"
  "nv"
  "ar"
  "sb"
  "ft";
}



.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-area: hd;
}

.sidebar {
  background-color: #FF7755;
  grid-area: sb;
}

.nav {
  background-color: #00DDFF;
  grid-area: nv;
}

.article {
  background-color: #bccbde;
  grid-area: ar
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-area: ft;
}

@media (min-width: 600px){
  .container {
    grid-template-areas: 
    "hd hd hd hd"
    "sb nv nv nv"
    "sb ar ar ar"
    "sb ar ar ar"
    "sb ar ar ar"
    "sb ar ar ar"
    "sb ar ar ar"
    "ft ft ft ft";
  }
}